# Melchi's additions (to ignore MSVC output files)
*.obj
*.lib
*.dll
*.pdb
*.ilk
*.sdf
*.opensdf
*.tlog
/win64/CMakeFiles/
/win64/test-reader.dir/
/win64/test-version.dir/
/win64/yaml.dir/
/win64/yaml_static.dir/
/win64/x64/
/win64/Release/
/win64/RelWithDebInfo/
/win64/Debug/
/win32/CMakeFiles/
/win32/test-reader.dir/
/win32/test-version.dir/
/win32/yaml.dir/
/win32/yaml_static.dir/
/win32/Release/
/win32/RelWithDebInfo/
/win32/Debug/
# Original values
.deps/
.libs/
*~
*.BAK
*.la
*.lo
*.o
*.pc
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/GNUmakefile
/Makefile
Makefile.in
/Testing/
/aclocal.m4
/autom4te.cache
/cmake_install.cmake
/config
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/example-deconstructor
/example-deconstructor-alt
/example-reformatter
/example-reformatter-alt
/include/Makefile
/libtool
/libyaml.a
/run-dumper
/run-emitter
/run-loader
/run-parser
/run-scanner
/src/Makefile
/stamp-h1
/test-reader
/test-version
/tests/Makefile
/tests/example-deconstructor
/tests/example-deconstructor-alt
/tests/example-reformatter
/tests/example-reformatter-alt
/tests/run-dumper
/tests/run-emitter
/tests/run-loader
/tests/run-parser
/tests/run-scanner
/tests/run-test-suite/data
tests/run-test-suite/src/libyaml/
tests/run-test-suite/src/libyaml-emitter
tests/run-test-suite/src/libyaml-parser
/tests/test-reader
/tests/test-reader.log
/tests/test-reader.trs
/tests/test-suite.log
/tests/test-version
/tests/test-version.log
/tests/test-version.trs
/win32/Makefile
